{% extends 'base.html' %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="col-md-12 mt-5 pt-5">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form method="post" action="{% url 'get_url' %}"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="urls" id="urls" placeholder="Enter URLs here...">
                    </div>
                    <button type="submit" class="btn btn-primary" style="border-radius: 12px;">Submit</button>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
{% endblock %}
